/* card */
.form-card{
    width: 100%;
    margin: 0 auto;
    padding: 2em;
    border-radius: 12px;
    background-color: #2E51A2;
}

.center-form{
    width: 90%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
}

/* form */
form{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

/* form elements */
label{
    align-self: baseline;
    margin-top: 1em;
    font-size: 1.2rem;
    color: white;
}

input[type=text], input[type=password], input[type=email]{
    margin-top: 0.5em;
    padding: 0.75em 0.5em;
    border: none;
    border-radius: 6px;
    background-color: whitesmoke;
    color: #282828;
    outline-color:#2E51A2;
    font-size: 1.2rem;
}

input[type=text]::placeholder, 
input[type=password]::placeholder{
    color: gray;
}

/* link */
.form-link-container{
    margin-top: 1em;
    color: white;
    line-height: 1.4;
    text-align: center;
}

.form-link{
    display: block;
    color: #FFC036;
    text-decoration: underline;
    cursor: pointer;
}

/* submit button*/
.form-btn{
    width: 100%;
    margin: 2em auto;
    padding: 1em;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    border-radius: 12px;
    background-color: #2E51A2;
    border: none;
    color: white;
}

.form-btn:disabled{
    display: none;
}

/* form header */
.form-card > h1{
    text-align: center;
    font-size: 2rem;
    color: white;
}