.home-container{
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home--content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 0;
    background: radial-gradient(
    ellipse at 32% 62%, /* Allign the gradient */
    rgba(245, 245, 245, 0.7) 20%,
    rgba(245, 245, 245, 0) 70%
  );
}

.home--title{
    --r: 2em; /* control the cutout */
    padding-right: 40vw;
    line-height: 1.8;
    clip-path: polygon(-100vw 0,100% 0,calc(100% - var(--r)) 50%,100% 100%,-100vw 100%);
    background-color: #2E51A2;
    width: fit-content;
}

.home--title > h1{
    color: white;
    font-size: 4rem;
    font-weight: 700;
    margin-left: 0.8em;
}

.home--content > p{
    line-height: 1.5;
    margin: 1em 1em 0 1em
}

.get-started{
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0.5em auto 0 1em;
    color: white;
    background-color: #2E51A2;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
}